.NoteForm input[type="text"]{
	padding: 20px;
}

.NoteForm button {
	padding: 20px;
	color:#fff;
	background: #019875;
	border: none;
}

.NoteForm button:hover {
	background-color: #02bab5;
	color:#fff;
}
